version: '3.4'

services:
  catalogdb:
    container_name: catalodb
    restart: always
    ports:
        - "27070:27017"

  discountdb:
     container_name: discountdb
     restart: always
     ports:
        - "27060:27017"
     volumes:
        - mongo_data:/data/db

  basketdb:
    container_name: basketdb
    restart: always
    ports:
        - "6379:6379"

  orderdb:
    container_name: orderdb
    environment:
        SA_PASSWORD: "SwN12345678"
        ACCEPT_EULA: "Y"
    restart: always
    ports:
        - "1433:1433"

  pgadmin:
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@aspnetrun.com
      - PGADMIN_DEFAULT_PASSWORD=admin1234
      - DatabaseSettings:ConnectionString=Server=localhost;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;
    restart: always
    ports:
        - "5020:80"
    volumes:
      - pgadmin_data:/root/.pgadmin

  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  catalog.api:
    container_name: catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://catalogdb:27017"
    depends_on:
      - catalogdb
    ports:
      - "5000:80"

  discount.api:
    container_name: discountdb.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://discountdb:27060"
    depends_on:
      - discountdb
    ports:
      - "5002:80"

  basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CacheSettings:ConnectionString=basketdb:6379"
      - "GrpcSettings:DiscountUrl=http://discount.grpc"
    depends_on:
      - basketdb
    ports:
      - "5001:80"


  discount.grpc:
    container_name: discount.grpc
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "DatabaseSettings:ConnectionString=mongodb://discountdb:27060"
    depends_on:
      - discountdb
    ports:
      - "5003:80"

  ordering.api:
    container_name: ordering.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:OrderingConnectionString=Server=orderdb;Database=OrderDb;User Id=sa;Password=SwN12345678"
    depends_on:
        - orderdb
    ports:
        - "8004:80"